$color_black: #000000;
$color_white: #FFFFFF;
$color_grey: #8E8E98;
$color_green: #25E197;
$color_yellow: #FFD233;

$color_label-open: $color_green;

$color-headind: $color_white;
$color-text: $color_grey;

$collage_item-2: $color_yellow;
$collage_item-3: $color_green;

$color-card: #1C1C1E;
$color-card_hover: #232327;
