.page {
  @include flex-column(center);
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
