.support-us__button {
  padding: 13px 30px;
}

@media screen and (max-width: 500px) {
  .support-us__button {
    width: 100%;
    padding: 16px 20px;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
  }
}