.collage {
  width: calc(100% - 2*30px);
  padding: 60px 30px;
}

@media screen and (max-width: 900px) {
  .collage {
    width: calc(100% - 2*60px);
    padding: 20px 60px 60px;
  }
}

@media screen and (max-width: 500px) {
  .collage {
    width: calc(100% - 2*20px);
    padding: 20px;
  }
}