.collage__item {
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.collage__row_first .collage__item:nth-child(1){
  background-image: url('../../../images/collage-item-1.jpg');
}

.collage__row_first .collage__item:nth-child(2){
  background-color: $collage_item-2;
}

.collage__row_second .collage__item:nth-child(1){
  background-color: $collage_item-3;
}

.collage__row_second .collage__item:nth-child(2){
  background-image: url('../../../images/collage-item-4.jpg');
}