.header__subheading {
  @include font-style(80px, 70px, $color_white);
}

@media screen and (max-width: 900px) {
  .header__subheading {
    font-size: 50px;
    line-height: 60px;
  }
}

@media screen and (max-width: 500px) {
  .header__subheading {
    font-size: 30px;
    line-height: 38px;
  }
}