.services__list {
  width: 100%;
  margin: 0;
  padding: 0;
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr)); 
  grid-template-rows: 1fr; 
  list-style: none;
  gap: 20px; 
}

@media screen and (max-width: 500px) {
  .services__list {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}